@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f7fafc;
  color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
